@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;700&display=swap');

@font-face {
    font-family: "SpratCndBold";
    src: url("fonts/SpratCndBold.woff2") format("woff2"),
        url("fonts/SpratCndBold.woff") format("woff");
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes drawLine {
    from {
        stroke-dashoffset: 1;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@keyframes drawLine {
    from {
        stroke-dashoffset: 1;
    }

    to {
        stroke-dashoffset: 0;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    text-rendering: geometricPrecision;
}

body {
    position: relative;
    overflow-x: hidden;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 100%;
    font-weight: 400;
    line-height: 1.3;
    color: var(--txt-color);
    background-color: var(--bg-color);
    -webkit-animation: fadeIn 1s ease-in 1;
    animation: fadeIn 1s ease-in 1;
}

:root {
    --bg-color: #fff;
    --bg-color-darker: #cfcbcf;
    --txt-color: #1d1d1d;
    --black: #1d1d1d;
    --white: #fff;

    --green: #b7e3a3;
    --purple: #d0bbff;
    --blue: #bbcce8;
    --yellow: #f9f691;

    --tn-large: 64px;
    --sn-large: 56px;

    --txt-large: calc(6vw + 1rem);
    --txt-copy: 1rem;
    --txt-copy-m: 1.6rem;
    --txt-copy-s: .8rem;
    --txt-ui: .8rem;

    --marg-s: 24px;
    --marg-m: 48px;

    --border: solid 1px var(--txt-color);
}

.--txt-large {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-size: var(--txt-large);
    line-height: 1;
    text-transform: lowercase;
    cursor: default;
}

.txt-copy {
    font-size: var(--txt-copy);
}

.txt-copy-m {
    font-size: var(--txt-copy-m);
}

.--green {
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0, var(--green) 8rem, var(--green) calc(100% - 8rem), hsla(0, 0%, 100%, 0) 100%);
}

.--purple {
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0, var(--purple) 8rem, var(--purple) calc(100% - 8rem), hsla(0, 0%, 100%, 0) 100%);
}

.--blue {
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0, var(--blue) 8rem, var(--blue) calc(100% - 8rem), hsla(0, 0%, 100%, 0) 100%);
}

.--yellow {
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0, var(--yellow) 8rem, var(--yellow) calc(100% - 8rem), hsla(0, 0%, 100%, 0) 100%);
}

a::-moz-selection,
p::-moz-selection,
h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection,
br::-moz-selection,
div::-moz-selection,
span::-moz-selection,
em::-moz-selection {
    background-color: var(--txt-color);
    color: var(--bg-color);
}

a::-moz-selection,
p::-moz-selection,
h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection,
br::-moz-selection,
div::-moz-selection,
span::-moz-selection,
em::-moz-selection {
    background-color: var(--txt-color);
    color: var(--bg-color);
}

a::-moz-selection,
p::-moz-selection,
h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection,
br::-moz-selection,
div::-moz-selection,
span::-moz-selection,
em::-moz-selection {
    background-color: var(--txt-color);
    color: var(--bg-color);
}

a::selection,
p::selection,
h1::selection,
h2::selection,
h3::selection,
br::selection,
div::selection,
span::selection,
em::selection {
    background-color: var(--txt-color);
    color: var(--bg-color);
}

img::-moz-selection {
    background-color: transparent;
}

img::selection {
    background-color: transparent;
}

a {
    color: var(--txt-color);
    text-decoration: none;
}

h3 {
    font-size: var(--txt-copy);
    font-weight: 700;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    list-style: none;
}

button {
    background-color: transparent;
    border: none;
    margin: 0;
}

a:focus,
button:focus {
    outline: none;
}

.header {
    position: fixed;
    right: 0;
    z-index: 2;
    width: 100%;
    height: var(--tn-large);
    padding-left: calc(var(--sn-large) + var(--marg-s));
    padding-right: var(--marg-s);
    padding-top: var(--marg-s);
    padding-bottom: var(--marg-s);
    background: linear-gradient(180deg, var(--bg-color) 85%, hsla(0, 0%, 100%, 0) 100%);
    transition: top .75s ease;
}

.header.up {
    top: -100%;
}

.header.down {
    top: 0;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.header-wrapper .title {
    font-family: "SpratCndBold";
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: lowercase;
}

.side-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: var(--sn-large);
    height: 100%;
    border-right: solid 1px var(--txt-color);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.lang {
    position: relative;
    transform: rotate(180deg);
    font-weight: 400;
    text-transform: lowercase;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
    bottom: var(--sn-large);
    z-index: 4;
}

.menu-btn {
    width: 24px;
    height: 24px;
    background-color: var(--txt-color);
    border-radius: 50%;
    position: absolute;
    top: 45%;
    transition: transform 1s cubic-bezier(0.51, 0.03, 0.55, 1.29);
}

.menu-btn.scale {
    transform: scale(150);
}

.menu-btn,
.close-btn {
    cursor: pointer;
}

.menu-trigger {
    position: absolute;
    top: 55%;
    transform: rotate(180deg);
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
    text-transform: uppercase;
    font-size: var(--txt-ui);
    transition: color 1s ease-in-out;
}

.menu-trigger.change {
    color: var(--bg-color);
}

.menu {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    padding: var(--tn-large) var(--sn-large);
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease;
}

.menu.open {
    visibility: visible;
    opacity: 1;
}

.menu-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--marg-s);
}

.menu-link a {
    font-size: var(--txt-large);
    font-weight: 300;
    line-height: 1;
    text-transform: lowercase;
    color: var(--bg-color);
    transition: color .2s cubic-bezier(0.51, 0.03, 0.55, 1.29);
}

.close-btn {
    width: 24px;
    height: 24px;
    background-color: var(--bg-color);
    border-radius: 50%;
    position: absolute;
    top: 45%;
    visibility: hidden;
    opacity: 0;
    z-index: 4;
    transition: all 1s ease-in-out;
}

.close-btn.visible {
    visibility: visible;
    opacity: 1;
}

.content {
    padding-left: var(--sn-large);
    padding-top: var(--tn-large);
    position: relative;
    z-index: 1;
}

.grid-layout {
    display: grid;
    grid-auto-flow: row dense;
    margin-right: -1px;
}

.--layout-one-col {
    grid-template-columns: repeat(1, 100%);
}

.--layout-two-col {
    grid-template-columns: repeat(2, 50%);
}

.--layout-three-col {
    grid-template-columns: repeat(3, calc(100% / 3));
}

.--layout-four-col {
    grid-template-columns: repeat(4, 25%);
}

.grid-block {
    position: relative;
    grid-area: 1;
    padding: var(--marg-s);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.grid-item {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.--outline {
    position: relative;
    outline: solid 1px var(--txt-color);
    margin-right: 1px;
    margin-top: 1px;
    transition: all .5s ease;
}

.gallery {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: auto;
    overflow: scroll;
    padding: var(--marg-s) var(--marg-s) 0 var(--marg-s);
}

.gallery::-webkit-scrollbar {
    width: 0px;
}

.gallery-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    padding-top: var(--marg-s);
    padding-right: var(--marg-s);
}

.gallery-btn svg {
    fill: var(--txt-color);
    height: 2rem;
    cursor: pointer;
}

.image-wrapper img {
    min-width: 40vw;
    border: var(--border);
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    transition: -webkit-filter .5s ease;
    transition: filter .5s ease;
    transition: filter .5s ease, -webkit-filter .5s ease;
}

.image-caption {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-size: var(--txt-copy-s);
}

.image-wrapper .image-caption {
    margin-left: var(--marg-s);
}

.button {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1rem;
    border: var(--border);
    border-radius: 2rem;
    cursor: pointer;
    overflow: hidden;
}

.button::before,
.button::after {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
}

.button span {
    position: relative;
}

.button>span a {
    transition: color .5s ease;
}

.button::before {
    content: '';
    background: var(--txt-color);
    transition: transform .2s cubic-bezier(0.7, 0, 0.2, 1);
}

.button:hover::before {
    transform: translate3d(100%, 0, 0);
}

.button:hover>span a {
    color: var(--bg-color);
}

.button a {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-size: var(--txt-ui);
    line-height: 1;
    color: var(--txt-color);
    text-transform: uppercase;
}

.button-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

#contact .grid-block,
#categories .grid-block {
    height: 40vh;
}

#colophon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4px var(--marg-s);
}



@media screen and (max-width: 500px) {
    :root {
        --bg-color: #1d1d1d;
        --txt-color: #fff;

        --tn-large: 140px;
        --sn-large: 40px;

        --txt-copy: .8rem;
        --txt-copy-m: 1.2rem;
        --txt-copy-s: .7rem;

        --marg-s: 16px;
    }

    .header {
        background: var(--bg-color);
    }

    .header-wrapper {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: flex-start;
    }

    .grid-layout {
        display: flex;
        flex-direction: column;
        margin-right: 0px;
    }

    .--outline img {
        margin-bottom: -4px;
    }

    .gallery {
        padding: 0;
        margin-left: -1px;
    }

    .gallery-btn {
        padding: var(--marg-s);
    }

    .image-wrapper img {
        min-width: calc(100vw - var(--sn-large) + 1px);
    }

    #contact .grid-block {
        height: auto;
    }

    #colophon {
        flex-direction: column;
        justify-content: flex-start;
        gap: 1rem;
        padding: var(--marg-s);
    }

    .hide-mobile {
        display: none;
    }

    .order-mobile {
        flex-direction: column-reverse;
    }

    .drawing {
        visibility: hidden;
    }

    .--green {
        background: var(--bg-color);
        color: var(--green);
    }

    .--purple {
        background: var(--bg-color);
        color: var(--purple);
    }

    .--blue {
        background: var(--bg-color);
        color: var(--blue);
    }

    .--yellow {
        background: var(--bg-color);
        color: var(--yellow);
    }
}