@font-face {
    font-family: "SpratCndBold";
    src: url("fonts/SpratCndBold.woff2") format("woff2"),
        url("fonts/SpratCndBold.woff") format("woff");
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes float {
    from {
        transform: rotate(0deg) translateX(10px) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(10px) rotate(-360deg);
    }
}

@-webkit-keyframes float {
    from {
        transform: rotate(0deg) translateX(10px) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(10px) rotate(-360deg);
    }
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --bg-color: #fff;
    --txt-color: #1d1d1d;

    --green: #b7e3a3;
    --purple: #d0bbff;
    --blue: #bbcce8;
    --yellow: #f9f691;

    --tn-large: 64px;
    --sn-large: 56px;

    --txt-large: calc(6vw + 1rem);
    --txt-copy: 1rem;
    --txt-copy-m: 1.6rem;
    --txt-copy-s: .8rem;
    --txt-ui: .8rem;

    --marg-s: 24px;
    --marg-m: 48px;

    --border: solid 1px var(--txt-color);
}

body {
    position: relative;
    overflow-x: hidden;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 100%;
    font-weight: 400;
    line-height: 1.3;
    color: var(--txt-color);
    background-color: var(--bg-color);
    -webkit-animation: fadeIn 1s ease-in 1;
    animation: fadeIn 1s ease-in 1;
    cursor: none;
}

a {
    color: var(--txt-color);
    text-decoration: none;
}

h3 {
    font-weight: 700;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    list-style: none;
}

button {
    background-color: transparent;
    border: none;
    margin: 0;
}

a:focus,
button:focus {
    outline: none;
}

a::-moz-selection,
p::-moz-selection,
h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection,
br::-moz-selection,
div::-moz-selection,
span::-moz-selection,
em::-moz-selection {
    background-color: var(--txt-color);
    color: var(--bg-color);
}

a::-moz-selection,
p::-moz-selection,
h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection,
br::-moz-selection,
span::-moz-selection,
em::-moz-selection {
    background-color: var(--txt-color);
    color: var(--bg-color);
}

a::selection,
p::selection,
h1::selection,
h2::selection,
h3::selection,
br::selection,
span::selection,
em::selection {
    background-color: var(--txt-color);
    color: var(--bg-color);
}

img::-moz-selection,
div::-moz-selection {
    background-color: transparent;
}

img::selection,
div::selection {
    background-color: transparent;
}

#cursor {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    will-change: background-color;
    z-index: 10;
    mix-blend-mode: multiply;
    transition: background-color .5s ease, width .2s ease, height .2s ease;
    pointer-events: none;
}

.--txt-large {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-size: var(--txt-large);
    line-height: 1;
    text-transform: lowercase;
}

.txt-copy {
    font-size: var(--txt-copy);
}

.txt-copy-m {
    font-size: var(--txt-copy-m);
}

.--green {
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0, var(--green) 8rem, var(--green) calc(100% - 12rem), hsla(0, 0%, 100%, 0) 100%);
    background-attachment: fixed;
}

.--purple {
    background: linear-gradient(360deg, hsla(0, 0%, 100%, 0) 0, var(--purple) 50%, var(--purple) 85%, var(--purple) 100%);
    background-attachment: fixed;
}

.--blue {
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0, var(--blue) 50%, var(--blue) 85%, hsla(0, 0%, 100%, 0) 100%);
    background-attachment: fixed;
}

.--yellow {
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0, var(--yellow) 8rem, var(--yellow) calc(100% - 12rem), hsla(0, 0%, 100%, 0) 100%);
    background-attachment: fixed;
}

.side-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 4;
    width: var(--sn-large);
    height: 100%;
    border-right: var(--border);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.lang {
    position: relative;
    transform: rotate(180deg);
    font-weight: 400;
    text-transform: lowercase;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
    bottom: var(--sn-large);
    z-index: 4;
}

.menu-btn {
    width: 24px;
    height: 24px;
    background-color: var(--txt-color);
    border-radius: 50%;
    position: absolute;
    top: 45%;
    transition: transform .9s cubic-bezier(0.4, 0.1, 0.4, 1.15);
}

.menu-btn.scale {
    transform: scale(150);
}

.menu-btn,
.close-btn {
    cursor: pointer;
}

.menu-trigger {
    position: absolute;
    top: 55%;
    transform: rotate(180deg);
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
    text-transform: uppercase;
    font-size: var(--txt-ui);
    transition: color 1s ease-in-out;
}

.menu-trigger.change {
    color: var(--bg-color);
}

.menu {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: var(--sn-large);
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease;
}

.menu.open {
    visibility: visible;
    opacity: 1;
}

.menu-wrapper {
    margin: var(--marg-s);
}

.menu-link {
    margin-bottom: var(--marg-s);
}

.menu-link:last-child {
    margin-bottom: 0;
}

.menu-link a {
    font-size: var(--txt-large);
    font-weight: 300;
    line-height: 1;
    text-transform: lowercase;
    color: var(--bg-color);
    transition: color .2s cubic-bezier(0.51, 0.03, 0.55, 1.29);
}

.close-btn {
    width: 24px;
    height: 24px;
    background-color: var(--bg-color);
    border-radius: 50%;
    position: absolute;
    top: 45%;
    visibility: hidden;
    opacity: 0;
    z-index: 4;
    transition: all 1s ease-in-out;
}

.close-btn.visible {
    visibility: visible;
    opacity: 1;
}

.cover {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 3;
    outline: var(--border);
}

.cover__bg {
    position: absolute;
    top: -30px;
    left: -30px;
    width: 130%;
    height: 130%;
    background-image: url("assets/images/bg-cover02.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation: float 8s linear infinite;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo h1 {
    font-family: "SpratCndBold", serif;
    font-size: calc(12vw + 2rem);
    line-height: 1;
    text-align: center;
    text-transform: lowercase;
}

.logo a {
    color: var(--txt-color);
    transition: color .5s ease;
    cursor: pointer;
}

.logo a:hover {
    -webkit-text-stroke: 1px var(--txt-color);
    color: transparent;
}

.logo h2 {
    font-size: 1.2rem;
    text-align: center;
    white-space: nowrap;
    text-transform: lowercase;
    opacity: 0;
    transition: opacity .5s ease;
    pointer-events: none;
}

.arrow-down {
    position: absolute;
    bottom: var(--tn-large);
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity .5s .3s ease;
}

.arrow-down svg {
    stroke: var(--txt-color);
}

#about {
    margin-top: 1px;
}

.header {
    position: sticky;
    top: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    height: var(--tn-large);
    padding-left: calc(var(--sn-large) + var(--marg-s));
    padding-right: calc(var(--sn-large) + var(--marg-s));
    outline: var(--border);
    background: var(--bg-color);
    transition: top .75s ease;
}

.header.up {
    top: -100%;
}

.header.down {
    top: 0;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.header-wrapper .title {
    font-family: "SpratCndBold";
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: lowercase;
}

.content {
    padding-left: var(--sn-large);
    position: relative;
    z-index: 1;
}

.grid-layout {
    display: grid;
    grid-auto-flow: row dense;
    margin-right: -1px;
}

.--layout-one-col {
    grid-template-columns: repeat(1, 100%);
}

.--layout-two-col {
    grid-template-columns: repeat(2, 50%);
}

.--layout-three-col {
    grid-template-columns: repeat(3, calc(100% / 3));
}

.--layout-four-col {
    grid-template-columns: repeat(4, 25%);
}

.grid-block {
    position: relative;
    grid-area: 1;
    padding: var(--marg-s);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.grid-item {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.--outline {
    position: relative;
    outline: var(--border);
    margin-right: 1px;
    margin-top: 1px;
    transition: all .5s ease;
}

.gallery {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: auto;
    overflow: scroll;
    padding: var(--marg-s) var(--marg-s) 0 var(--marg-s);
}

.gallery::-webkit-scrollbar {
    width: 0px;
}

.gallery-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 4rem;
    padding-top: var(--marg-s);
    padding-right: var(--marg-s);
}

.gallery-btn svg {
    margin: 1rem 0;
    cursor: pointer;
}

.image-wrapper img {
    min-width: 40vw;
    border: var(--border);
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    transition: -webkit-filter .5s ease;
    transition: filter .5s ease;
    transition: filter .5s ease, -webkit-filter .5s ease;
}

.image-caption {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-size: var(--txt-copy-s);
}

.image-wrapper .image-caption {
    margin-left: var(--marg-s);
}

.button {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1rem;
    border: var(--border);
    overflow: hidden;
    cursor: none;
}

.button::before {
    content: "";
    background: var(--txt-color);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .5s ease;
}

.button span {
    position: relative;
}

.button>span a {
    transition: color .5s ease;
}

.button:hover>span a {
    color: var(--bg-color);
}

.button:hover::before {
    opacity: 1;
}

.button a {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-size: var(--txt-ui);
    line-height: 1;
    color: var(--txt-color);
    text-transform: uppercase;
    cursor: pointer;
}

.button-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

#contact .grid-block,
#categories .grid-block {
    height: 40vh;
}

.colophon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px var(--marg-s);
}

@media screen and (max-width: 910px) {
    .header {
        padding: 0 var(--marg-s);
    }

    .grid-layout {
        display: flex;
        flex-direction: column;
        margin-right: 0px;
    }

    .--outline {
        margin-right: 0;
    }

    .--outline img {
        margin-bottom: -8px;
    }

    .gallery {
        padding: 0;
        margin-left: -1px;
    }

    .gallery-btn {
        padding: var(--marg-s);
    }

    .image-wrapper img {
        min-width: calc(100vw - var(--sn-large) + 1px);
    }

    .empty {
        display: none;
    }

    .change-order {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 500px) {
    :root {
        --bg-color: #1d1d1d;
        --txt-color: #fff;

        --tn-large: 140px;
        --sn-large: 40px;

        --txt-copy: .8rem;
        --txt-copy-m: 1.2rem;
        --txt-copy-s: .7rem;

        --marg-s: 16px;
    }

    .cover {
        display: none;
    }

    .menu {
        padding-left: var(--sn-large);
    }

    .menu-link a {
        font-size: 12vw;
    }

    .logo {
        top: var(--sn-large);
        transform: translate(-50%, 0%);
    }

    .logo h2 {
        opacity: 1;
        white-space: break-spaces;
        font-size: 1rem;
    }

    .logo a {
        -webkit-text-stroke: 1px var(--txt-color);
        color: transparent;
    }

    .arrow-down {
        opacity: 1;
        bottom: var(--sn-large);
    }

    .header {
        background: var(--bg-color);
    }

    .header-wrapper {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: flex-start;
    }

    .--green {
        background: var(--bg-color);
        color: var(--green);
    }

    .--purple {
        background: var(--bg-color);
        color: var(--purple);
    }

    .--blue {
        background: var(--bg-color);
        color: var(--blue);
    }

    .--yellow {
        background: var(--bg-color);
        color: var(--yellow);
    }

    .--outline img {
        margin-bottom: -4px;
    }

    #btn-left,
    #btn-right {
        display: none;
    }

    #contact .grid-block {
        height: auto;
    }

    .colophon {
        flex-direction: column;
        justify-content: flex-start;
        gap: 1rem;
        padding: var(--marg-s);
    }
}